SECRET_KEY=change-this-secret
DATABASE_URL=database/malzara.db

ENABLE_EMAIL=false
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=oshadhacanchana@gmail.com
MAIL_PASSWORD=ggbq qnew zfay irem
MAIL_FROM=no-reply@malzara.local
APP_BASE_URL=http://127.0.0.1:5000
OFFERS_PAGE_URL=https://malzara.com/offers

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=malzara/products
